* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: peachpuff;
}

#container {
    margin: auto;
    margin-top: 3rem;
    width: fit-content;
    border: 2px solid green;
    padding: 2rem;
}

.box {
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    display: inline-block;
}

.row {
    display: flex;
}